* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

body {
   display: flex;
   flex-direction: column;
  min-height: 100vh;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   line-height: 1.5;
   display: grid;
 }

 header {
   display: flex;
   justify-content: space-between;
   background-color: black;
   padding: 15px 65 15px 0%;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
}

header h1 {
   background-color: white;
   padding-left: 2%;
   padding-right: 1%;
   padding: 5px 1% 5px 6%;
   margin: 0;
   font-size: 4vw;
   line-height: 1;   
}

nav {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
 }

 
nav a {
   text-decoration: none;
   padding: 5px 10px;
   margin-right: 10px;
   background-image: linear-gradient(270deg, brown 0%, brown 100%);
   background-repeat: no-repeat;
   background-size: 100% 0.2em;
   background-position: bottom;
   transition: all 0.25s ease-in;
   font-size: 1.4rem;
 }
 
 nav a:hover{
   background-size: 100% 100%;
 } 

 .hero-section .jumbotron {
   background-image: url("../images/02-hero-bg.jpg");
   background-size: cover;
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-between;
   color: white;
}

/* .card{
   min-height: 150px;
  max-height: 150px;
  flex-basis: calc(50% - 1em);
  display: flex;
  align-items: flex-end;
  padding: 0 0 20px 0;
  margin: 0.5em;
  text-decoration: none;
  font-size: 0.9rem;
}  */




 


